<ion-header>
  <ion-toolbar class="toolbarcolor">
    <img src="assets/img/2.png"/> <hr>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="color: black; text-align: center;" >Recuperar Contraseña</h2>
  <div class="ion-padding">
    <form class="ion-padding">
      <div class="wrap-input"> 
        <ion-input color="dark" class="input" type="text" name="user-name"  placeholder="Usuario"></ion-input>
      </div>
    </form>
  </div>
  <div class="centrado">
    <ion-button color="warning" [routerLink]="['/pagina3']">Aceptar</ion-button>
  </div>
</ion-content>

<ion-footer class="footerColor">
  <img src="assets/img/1.png"/>
</ion-footer>
