<ion-header [translucent]="true">
</ion-header>

<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
<ion-content [fullscreen]="true">
  <ion-content padding class="myphoto">
    <img src="assets/img/2.png"/> <hr>
    <div class="centrado">
      <ion-button color="warning" [routerLink]="['/prueba1']">Bienvenido!</ion-button>
    </div>
<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
  </ion-content>
</ion-content>

<ion-footer>
  <div class="centrado">
  <img src="assets/img/1.png"/>
  </div>
</ion-footer>